<!DOCTYPE html>
<html>
    <head>
        <title>Eel Demo</title>
        <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css"> -->
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/foundation.min.css')}}" />
        <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}" /> -->

    </head>

    <body>
        <div class="flex">
        <input id='idexx_file_directory' placeholder='Type folder here' value='C:\Users\tbaur\PycharmProjects\idexx\.data\_Orig' name="idexx_file_directory"></input>

        <a href=# id="check_files" class="button">Check File Names</a>
        <a href=# id="check-for-errors">Check for Errors</a>
        <!-- <a href='javascript:void(0)' onclick='append_all_data()'>Append Data</a> -->
        <div class="outline w-25"id='idexx-results'>---</div>
        <a href="test">test</a>
        </div>

    </body>
    <!-- <script type="text/javascript" src="/eel.js"></script> -->
    <script src="{{url_for('static',filename='js/vendor/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='js/vendor/what-input.js')}}"></script>
    <script src="{{url_for('static',filename='js/vendor/foundation.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
    <script src="https://kit.fontawesome.com/9c01864484.js"></script>
</html>